{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">"
  <link rel = "stylesheet" href ="{% static 'css/home.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Home</title>

</head>

<body>
  <div class="container">
    <div class="navigation-bar">
      <nav>
        <ul>
          <li><a href="">HOME</a></li> <!--HOME is the same page user is currently on with the cards -->
          <li><a href="{% url 'post_list' %}">RESOURCES FEED</a></li>
          <li><a href="">K-5</a></li>
          <li><a href="">6-12</a></li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="col">
          <h1>A L P H A </h1>
          <p>Made for parents, students, teams, and groups.
          Alpha is a free academic website that provides parents with recomendations
          for online educational software. Manage your educational resources, and connect
          with millions of users and resources online worldwide. </p>
          <button type="button">Explore</button> <!-- not yet linked -->
      </div>
      <div class="col"> <!-- All cards not yet linked, working on other pages -->
        <div class="card Home-feed">
          <h5>Home Feed</h5>
          <p>User's Home feed, check out what's new!</p>
        </div>
        <div class="card Resources-feed">
          <h5>Resources Feed</h5>
          <p>Educational resources suggested by Users</p>
        </div>
        <div class="card GradesK-6">
          <h5>Grades K-6</h5>
          <p>Educational resources for grade K-6 suggested by ALPHA</p>
        </div>
        <div class="card Grades7-12">
          <h5>Grades 7-12</h5>
          <p>Educational resources for grade 7-12 suggested by ALPHA </p>
        </div>

      </div>
    </div> <!-- row ending -->

  </div> <!-- (container ending) -->

</body>

</html>
{% endblock %}
